body {
  background-image: linear-gradient(180deg, rgb(165, 216, 236), white);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  margin: auto;
}
